[paths]
source =
   src
   */site-packages

[run]
branch = true
source =
    zprp_ffmpeg
    filters_autogen
    tests
parallel = true
omit =
    src/zprp_ffmpeg/generated_filters.py

[report]
show_missing = true
precision = 2
omit = *migrations*
